<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<head>
    <title>Edit Book</title>
    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        error {color:red}
    </style>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h1 th:inline="text">Updating the Book with title: [[${book.name}]]</h1>
    </div>
</div>

<div id="container">

    <form action="#" id="addCustomerForm" th:action="@{/book/save}"
          th:object="${book}" th:method="POST">
        <input type="hidden" th:field="*{id}" />
        <table>
            <tbody>
            <tr>
                <td><label>name:</label></td>
                <td>
                    <textarea type="text" name="name" id="name"
                              rows = "2" cols = "70" th:field="*{name}">
                    </textarea></td>
            </tr>
            <tr>
                <td><label>Description:</label></td>
                <p th:if="${#fields.hasErrors('description')}" th:errorclass="error" th:errors="*{description}" />
                <td>
                    <textarea type="text" name="description" id="description"
                              rows = "10" cols = "80" th:field="*{description}">
                    </textarea></td>
            </tr>
            <tr>
                <td><label>Image:</label></td>
                <td><input type="text" name="image" id="image"
                           th:field="*{image}" accept="image/gif, image/jpeg, image/png"/></td>
            </tr>
            <tr>
                <td><label>Upload new image:</label></td>
                <td><input type="file" name="filename" id="filename"
                           th:field="*{image}" accept="image/gif, image/jpeg, image/png"/></td>
            </tr>
            <tr>
                <td><label>Price:</label></td>
                <p th:if="${#fields.hasErrors('price')}" th:errorclass="error" th:errors="*{price}" />
                <td><input type="text" name="price" id="price" th:field="*{price}"/></td>
            </tr>
            <tr>
                <td><label></label></td>
                <td><input type="submit" value="Save" class="save"/></td>
            </tr>
            </tbody>
        </table>

    </form>

    <br>
    <hr>

    <h3 style="align-content: center">Recommended Book</h3>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th scope="col">Book Name</th>
            <th scope="col">Price</th>
        </tr>
        <tr th:each="recommendedBook : ${recommendedBooks}">
            <td><a th:href="@{'/book/' + ${recommendedBook.getId()}}"
                   th:text="${recommendedBook.getName()}"></a>
            </td>
            <td><span th:text="${recommendedBook.getPrice()}"></span></td>
        </tr>
        </tbody>
    </table>

    <br>
    <div style="clear; both"></div>
    <p>
        <a href="/book/list">Back to Book List</a>
    </p>
</div>
</body>

</html>