<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<head>
    <title>List Books</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <div id="wrapper">
        <div id="header">
            <h2>Bookstore - List Books</h2>
        </div>
    </div>

    <br>

    <div id="container">
        <div id="content">

            <!-- import file -->
            <form th:action="@{/book/uploadfile}" th:method="GET">
                Search customer: <input type="text" name="theSearchName" />

                <input type="submit" value="Search" class="add-button"/>
            </form>
            <br>
            <hr>
            <!-- add our html table here -->
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Book Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                    </tr>
                    <tr th:each="book : ${bookList}">
                        <!--<td><span th:text="${flight.getFlightId()}">Flugnummer</span></td> -->
                        <td><img th:src="${book.getImage()}"/></td>
                        <td><span th:text="${book.getName()}"></span></td>
                        <td><span th:text="${book.getDescription()}"></span></td>
                        <td><span th:text="${book.getPrice()}"></span></td>
                        <td>
                            <a th:href="@{'/customer/showFormForUpdate/' + ${book.getId()}}">Edit</a>
                             |
                            <a th:href="@{'/customer/delete/' + ${book.getId()}}"
                                onclick="if(!(confirm('Are you sure you want to delete this book?'))) return false;"
                            >Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>