<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html">

<head>
    <title>Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<br>
<br>
<h1 class="text-center">Welcome to the Bookstore Homepage</h1>

<br>
<div style="clear; both"></div>
<p>
    <a href="/book/list">Go to Book List</a>
</p>
</body>

</html>